/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,not dead
*/

/* Global */

:root {
    --white: #FFFFFF;
    --blue: #014A8D;
    --blue-light: #B2C8DC;
    --blue-grea: #ACB7C2;
    --blue-dark: #011221;
    --gold: #BE915A;;
    --gold-light: #CFCDCD;
    --social-bg: #7DA1C3;

    --black-shadow: rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/OpenSans.ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: grey;
}

/* visually-hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* container */

.container {
    max-width: 1440px;
    padding: 0 14px;
    margin: 0 auto;
}

/* menu-toggle */

.menu-toggle {
    width: 50px;
    height: 50px;
    background-color: var(--blue);
    border-radius: 50%;
    padding: 15.5px 12.5px;
}

.menu-toggle-hide {
    display: none;
}

.menu-toggle__inner {
    height: 19px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.menu-bar {
    width: 25px;
    height: 2px;
    background-color: var(--white);
    border-radius: 1px;
}

/* page-header && header-nav */

.page-header {
    max-width: 1266px;
    margin: 0 auto;
    height: 59px;
    max-height: 59px;
    margin-top: 50px;
}

.header-nav {
    width: 100%;
    background-color: var(--blue);
    border-radius: 10px;
    padding: 0 48px 0 29px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    color: var(--white);
}

.header-nav a {
    color: inherit;
    text-decoration: none;
}

/* nav-list */

.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-list li {
    height: 100%;
    position: relative;
}

.nav-list a, .lang-list a, .current-lang, .dropdown-toggle {
    font-size: 15px;
    font-weight: 400;
    line-height: 20.43px;
    cursor: pointer;
    -webkit-user-select: none;
            user-select: none;
}

.nav-list a {
    display: block;
    height: 100%;
    padding: 19px 20px 19px 19px;
    transition: color 0.3s;
}

.nav-list a:hover, .nav-list .dropdown-toggle:hover  {
    color: var(--blue-light);
}

/* dropdown */

.dropdown {
    height: 100%;
}

/* dropdown-toggle */

.dropdown-toggle__wrapper {
    height: 100%;
}

.dropdown-toggle {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    transition: color 0.3s;
    padding: 19px 20px 19px 19px;
    height: 100%;
}

.dropdown-toggle::after {
    content: "";
    position: absolute;
    right: 4px;
    bottom: 25px;
    width: 8px;
    height: 4.57px;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    background: url('../img/icons/dropdown.png') 0 0 no-repeat;
}

.dropdown.active .dropdown-toggle::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.dropdown:hover .dropdown-toggle, .dropdown.active .dropdown-toggle {
    color: var(--blue-light);
}

/* dropdown-content */

ul.dropdown-content {
    position: absolute;
    top: 59px;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    left: 7px;
    width: 249px;
    background-color: var(--blue);
    padding: 15px 15px 20px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
    box-shadow: -5px 5px 30px 10px var(--black-shadow);
    z-index: -1;
}

@media (width > 1241px) {

    .menu-toggle {
        display: none;
    }

    .dropdown:hover ul.dropdown-content, .dropdown.active ul.dropdown-content {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        z-index: 1;
    }    

    .dropdown:hover .dropdown-toggle::after, .dropdown.active .dropdown-toggle::after {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
}

.dropdown.active::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.dropdown.active ul.dropdown-content {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    z-index: 20;
}    

.dropdown-content a:hover {
    color: var(--blue-light);
}

.dropdown-content a {
    font-size: 14px;
    line-height: 16.8px;
    padding: 6px 0;
    transition: color 0.3s;
}

.dropdown-content li:first-child a {
    padding: 0 0 6px 0;
}

.dropdown-content li:last-child a {
    padding: 6px 0 0 0;
}

/* lang-icon */

.lang-icon {
    border-radius: 50%;
    margin-right: 8px;
}

/* lang-select && lang-list */

.lang-select {
    width: 74px;
    height: 100%;
    position: relative;
}

ul.lang-list {
    width: 88px;
    left: 0;
}

.lang-list a {
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 13.62px;
}

.lang-list a:not([href]) {
    color: var(--blue-light);
}

/* current-lang */

.current-lang {
    display: flex;
    align-items: center;
    padding: 22px 0 19px 15px;
    position: relative;
    font-size: 10px;
    line-height: 13.62px;
    transition: color 0.3s;
    width: 100%;
}

.current-lang:hover {
    color: var(--blue-light);
}

a.current-lang::after {
    right: -19px;
    bottom: 25px;
}

/* header-special */

.header-special {
    order: 1;
    height: 100%;
}

img.header-logo {
    display: none;
}

.header-special .nav-close {
    display: none;
}

/* header-contacts */

.header-contacts {
    display: none;
    text-align: center;
    align-items: center;
    margin-top: 67.5px;
}

.header-contacts h2 {
    font-size: 16px;
    line-height: 19.2px;
}

.header-contacts p {
    font-size: 10px;
    line-height: 12px;
    margin-top: 12px;
}

.header-phone {
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 30px;
}

a.header-email {
    display: block;
    text-decoration: underline;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    margin-top: 30px;
}

ul.header-social {
    display: flex;
    justify-content: space-between;
    width: 118px;
    margin-top: 14px;
}

.header-social li {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--social-bg);
}

.header-social li:hover {
    background-color: var(--gold);
}

/* Header icons */

.icon a {
    display: block;
    height: 100%;
}

.icon {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.dzen-icon {background-image: url('../img/icons/dzen-icon.svg');}

.youtube-icon {background-image: url('../img/icons/youtube-icon.png');}

.odnoklassniki-icon {background-image: url('../img/icons/odnoklassniki-icon.png');}

.vk-icon {background-image: url('../img/icons/vk-icon.png');}

/* media 1241px */

@media (max-width: 1241px) {

    .container {
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }

    .page-header {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
    }

    /* header-nav */

    .header-nav {
        display: none;
        padding: 0px 15px 0px 20px;
        position: relative;
    }

    .header-nav.active.header-nav-hide {
        -webkit-animation: menuOut;
                animation: menuOut;
        -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
    }

    .header-nav.active {
        display: block;
        -webkit-animation: menuIn;
                animation: menuIn;
        -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
    }

    @-webkit-keyframes menuIn {
        from {-webkit-transform: translateX(369px);transform: translateX(369px);}
        to {-webkit-transform: translateX(0px);transform: translateX(0px);}
    }

    @keyframes menuIn {
        from {-webkit-transform: translateX(369px);transform: translateX(369px);}
        to {-webkit-transform: translateX(0px);transform: translateX(0px);}
    }

    @-webkit-keyframes menuOut {
        from {-webkit-transform: translateX(0px);transform: translateX(0px);}
        to {-webkit-transform: translateX(369px);transform: translateX(369px);}
    }

    @keyframes menuOut {
        from {-webkit-transform: translateX(0px);transform: translateX(0px);}
        to {-webkit-transform: translateX(369px);transform: translateX(369px);}
    }

    .header-nav::before {
        content: "";
        position: absolute;
        left: 0;
        top: 616px;
        width: 369px;
        height: 369px;
        background: url('../img/bg-stars-1.png') left 0px no-repeat;
        -webkit-transform: rotate(1deg);
                transform: rotate(1deg);
    }

    .header-nav::after {
        content: "";
        position: absolute;
        right: 0;
        top: 570px;
        width: 369px;
        height: 369px;
        background: url('../img/bg-stars-2.png') right 0px no-repeat;
    }

    .header-nav {
        position: fixed;
        right: 0;
        width: 369px;
        height: 100%;
        border-radius: 0;
        overflow: hidden;
        margin-top: 0;
    }

    /* header-special: header-logo */

    .header-special {
        display: flex;
        justify-content: space-between;
        order: 0;
        width: 100%;
        height: auto;
        margin-top: 20px;
        max-height: 40px;
    }

    .header-special img {
        display: block;
    }

    .header-logo {
        margin: 6.5px 0px 6.5px 0px;
    }

    .header-special .nav-close {
        display: block;
        width: 40px;
        height: 40px;
        background-image: url('../img/icons/close.svg');
        background-repeat: no-repeat;
        background-position: 47% 50%;
        border: var(--blue-light) solid 1px;
        border-radius: 50%;
    }

    .header-contacts {
        display: flex;
        flex-direction: column;
        z-index: 30;
    }

    /* lang-select  && lang-list */

    .lang-select {
        width: 60px;
    }

    ul.lang-list {
        left: -14px;
        top: 40px;
        padding: 9px 5px 17px 14px;
    }

    ul.lang-list::before {
        left: 0px;
        top: -40px;
        height: calc(100% + 40px);
        z-index: -1;
    }

    /* current-lang */

    .current-lang {
        padding: 11px 0px 11px 0px;
    }

    .current-lang::after {
        bottom: 17px;
    }

    /* nav-list */

    ul.nav-list {
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        height: auto;
    }

    .nav-list a, .nav-list .dropdown-toggle {
        display: block;
        padding: 12.5px 0;
        position: relative;
    }

    .nav-list li:first-child a {
        padding-top: 0;
    }

    .nav-list li:last-child a {
        padding-bottom: 0;
    }

    .nav-list li {
        height: auto;
        width: 100%;
        text-align: center;
    }
     
    /* dropdown */

    /* dropdown-toggle */

    .nav-list .dropdown-toggle::after {
        right: -14px;
        bottom: 18px;
    }

    .nav-list .dropdown-toggle__wrapper {
        margin: 0 auto;
        width: 261px;
    }

    .dropdown.active .dropdown-toggle__wrapper {
        border-radius: 10px;
    }

    .dropdown-toggle {
        margin: 0 auto;
    }

    .dropdown.active .dropdown-toggle {
        z-index: 30;
    }

    /* dropdown-content */

    ul.dropdown-content {
        background-color: var(--blue);
        box-shadow: none;
        border-radius: 0px 0px 20px 20px;
    }

    .nav-list ul.dropdown-content {
        width: 261px;
        top: 35px;
        left: calc((100% - 261px) / 2);
        padding: 9px 5px 17px 5px;
    }

    ul.dropdown-content a {
        padding: 7.5px 0;
    }

    ul.dropdown-content li:first-child a {
        padding-top: 0;
    }

    ul.dropdown-content li:last-child a {
        padding-bottom: 0;
    }

    ul.dropdown-content::before {
        content: "";
        position: absolute;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: var(--blue);
        box-shadow: -5px 5px 30px 10px var(--black-shadow);
    }

    .nav-list ul.dropdown-content::before {
        left: 0;
        top: -35px;
        height: calc(100% + 35px);
    }

}

@media (max-width: 370px) {
    .header-nav {
        width: 100vw;
    }
}
